.Spinner {
    animation: spin 1.2s linear infinite;
    border: 6px solid;
    border-color: theme(colors.gray.600) transparent theme(colors.gray.600) transparent;
    @apply z-20 absolute w-16 h-16 rounded-full top-half left-half -mt-8 -ml-8;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
